@charset "CP850";
/* Colors */
/* Primary colors */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8+, and Opera
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*-----------------------------------------------------------------------------------*/
/*	Homepage
/*-----------------------------------------------------------------------------------*/
/* Override */
html, body {
  height: 100%;
}

body {
  background: none repeat scroll 0 0 #f4f4f4;
  border: 0 none;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #555555;
  /* overflow-x: hidden; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

label {
  font-weight: 600;
}

/* Dotted outline removal */
a:active, a:focus {
  outline-style: none;
  -moz-outline-style: none;
}

* {
  outline: medium none !important;
}

/* Bootstrap extra */
.hidden-inline-mobile {
  display: inline !important;
}

@media (max-width: 768px) {
  .hidden-inline-mobile {
    display: none !important;
  }
}
/* Font weight */
.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

/* Font size */
.font-11 {
  font-size: 11px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

/* Font colors */
.text-dark {
  color: #555555;
}

.text-purple {
  color: #a696ce;
}

.text-pink {
  color: #db5e8c;
}

.text-yellow {
  color: #fcd76a;
}

.text-green {
  color: #5cb85c;
}

/* Icons */
.fa-1x {
  font-size: 1.5em;
}

/* Buttons */
.btn {
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-inverse {
  color: white;
  background-color: #555555;
  border-color: #484848;
}
.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
  color: white;
  background-color: #414141;
  border-color: #2a2a2a;
}
.open .btn-inverse.dropdown-toggle {
  color: white;
  background-color: #414141;
  border-color: #2a2a2a;
}
.btn-inverse:active, .btn-inverse.active {
  background-image: none;
}
.open .btn-inverse.dropdown-toggle {
  background-image: none;
}
.btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
  background-color: #555555;
  border-color: #484848;
}
.btn-inverse .badge {
  color: #555555;
  background-color: white;
}
.btn-inverse .caret {
  border-top-color: #FFFFFF;
}

.btn-purple {
  color: white;
  background-color: #a696ce;
  border-color: #9785c6;
}
.btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active {
  color: white;
  background-color: #8e7ac1;
  border-color: #745bb2;
}
.open .btn-purple.dropdown-toggle {
  color: white;
  background-color: #8e7ac1;
  border-color: #745bb2;
}
.btn-purple:active, .btn-purple.active {
  background-image: none;
}
.open .btn-purple.dropdown-toggle {
  background-image: none;
}
.btn-purple.disabled, .btn-purple.disabled:hover, .btn-purple.disabled:focus, .btn-purple.disabled:active, .btn-purple.disabled.active, .btn-purple[disabled], .btn-purple[disabled]:hover, .btn-purple[disabled]:focus, .btn-purple[disabled]:active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple, fieldset[disabled] .btn-purple:hover, fieldset[disabled] .btn-purple:focus, fieldset[disabled] .btn-purple:active, fieldset[disabled] .btn-purple.active {
  background-color: #a696ce;
  border-color: #9785c6;
}
.btn-purple .badge {
  color: #a696ce;
  background-color: white;
}
.btn-purple .caret {
  border-top-color: #FFFFFF;
}

.btn-pink {
  color: white;
  background-color: #db5e8c;
  border-color: #d6497d;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active {
  color: white;
  background-color: #d43d74;
  border-color: #b9295e;
}
.open .btn-pink.dropdown-toggle {
  color: white;
  background-color: #d43d74;
  border-color: #b9295e;
}
.btn-pink:active, .btn-pink.active {
  background-image: none;
}
.open .btn-pink.dropdown-toggle {
  background-image: none;
}
.btn-pink.disabled, .btn-pink.disabled:hover, .btn-pink.disabled:focus, .btn-pink.disabled:active, .btn-pink.disabled.active, .btn-pink[disabled], .btn-pink[disabled]:hover, .btn-pink[disabled]:focus, .btn-pink[disabled]:active, .btn-pink[disabled].active, fieldset[disabled] .btn-pink, fieldset[disabled] .btn-pink:hover, fieldset[disabled] .btn-pink:focus, fieldset[disabled] .btn-pink:active, fieldset[disabled] .btn-pink.active {
  background-color: #db5e8c;
  border-color: #d6497d;
}
.btn-pink .badge {
  color: #db5e8c;
  background-color: white;
}
.btn-pink .caret {
  border-top-color: #FFFFFF;
}

.btn-grey {
  color: white;
  background-color: #898989;
  border-color: #7c7c7c;
}
.btn-grey:hover, .btn-grey:focus, .btn-grey:active, .btn-grey.active {
  color: white;
  background-color: #757575;
  border-color: #5e5e5e;
}
.open .btn-grey.dropdown-toggle {
  color: white;
  background-color: #757575;
  border-color: #5e5e5e;
}
.btn-grey:active, .btn-grey.active {
  background-image: none;
}
.open .btn-grey.dropdown-toggle {
  background-image: none;
}
.btn-grey.disabled, .btn-grey.disabled:hover, .btn-grey.disabled:focus, .btn-grey.disabled:active, .btn-grey.disabled.active, .btn-grey[disabled], .btn-grey[disabled]:hover, .btn-grey[disabled]:focus, .btn-grey[disabled]:active, .btn-grey[disabled].active, fieldset[disabled] .btn-grey, fieldset[disabled] .btn-grey:hover, fieldset[disabled] .btn-grey:focus, fieldset[disabled] .btn-grey:active, fieldset[disabled] .btn-grey.active {
  background-color: #898989;
  border-color: #7c7c7c;
}
.btn-grey .badge {
  color: #898989;
  background-color: white;
}

.btn-light-grey {
  color: #898989;
  background-color: #e6e6e6;
  border-color: #d9d9d9;
}
.btn-light-grey:hover, .btn-light-grey:focus, .btn-light-grey:active, .btn-light-grey.active {
  color: #898989;
  background-color: #d2d2d2;
  border-color: #bbbbbb;
}
.open .btn-light-grey.dropdown-toggle {
  color: #898989;
  background-color: #d2d2d2;
  border-color: #bbbbbb;
}
.btn-light-grey:active, .btn-light-grey.active {
  background-image: none;
}
.open .btn-light-grey.dropdown-toggle {
  background-image: none;
}
.btn-light-grey.disabled, .btn-light-grey.disabled:hover, .btn-light-grey.disabled:focus, .btn-light-grey.disabled:active, .btn-light-grey.disabled.active, .btn-light-grey[disabled], .btn-light-grey[disabled]:hover, .btn-light-grey[disabled]:focus, .btn-light-grey[disabled]:active, .btn-light-grey[disabled].active, fieldset[disabled] .btn-light-grey, fieldset[disabled] .btn-light-grey:hover, fieldset[disabled] .btn-light-grey:focus, fieldset[disabled] .btn-light-grey:active, fieldset[disabled] .btn-light-grey.active {
  background-color: #e6e6e6;
  border-color: #d9d9d9;
}
.btn-light-grey .badge {
  color: #e6e6e6;
  background-color: #898989;
}

.btn-yellow {
  color: #654c02;
  background-color: #fcd76a;
  border-color: #fbd051;
}
.btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active {
  color: #654c02;
  background-color: #fbcc42;
  border-color: #fac015;
}
.open .btn-yellow.dropdown-toggle {
  color: #654c02;
  background-color: #fbcc42;
  border-color: #fac015;
}
.btn-yellow:active, .btn-yellow.active {
  background-image: none;
}
.open .btn-yellow.dropdown-toggle {
  background-image: none;
}
.btn-yellow.disabled, .btn-yellow.disabled:hover, .btn-yellow.disabled:focus, .btn-yellow.disabled:active, .btn-yellow.disabled.active, .btn-yellow[disabled], .btn-yellow[disabled]:hover, .btn-yellow[disabled]:focus, .btn-yellow[disabled]:active, .btn-yellow[disabled].active, fieldset[disabled] .btn-yellow, fieldset[disabled] .btn-yellow:hover, fieldset[disabled] .btn-yellow:focus, fieldset[disabled] .btn-yellow:active, fieldset[disabled] .btn-yellow.active {
  background-color: #fcd76a;
  border-color: #fbd051;
}
.btn-yellow .badge {
  color: #fcd76a;
  background-color: #654c02;
}

.btn-icon {
  margin: 10px 0;
  padding: 10px;
  transition: all 0.3s ease 0s;
}

.btn-icon:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.btn-icon:active {
  transition: none 0s ease 0s;
}

.btn-icon i {
  margin: 0;
}

.btn .label {
  border-radius: 12px 12px 12px 12px;
  border-style: solid;
  border-width: 0;
  box-shadow: none;
  color: #FFFFFF !important;
  font-size: 11px !important;
  font-weight: 300;
  padding: 3px 7px;
  position: absolute;
  text-shadow: none;
  top: 1px;
}
.btn .label.label-right {
  right: 7px;
}
.btn .label.label-left {
  left: 7px;
}

.input-block-level {
  display: block;
  width: 100%;
}

/* Container */
.container {
  width: 100% !important;
}

/* Dividers */
.divide-10 {
  height: 10px;
  width: 100%;
}

.divide-12 {
  height: 12px;
  width: 100%;
}

.divide-20 {
  height: 20px;
  width: 100%;
}

.divide-40 {
  height: 40px;
  width: 100%;
}

.divide-100 {
  height: 100px;
  width: 100%;
}

.margin-left-0 {
  margin-left: 0px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.separator {
  height: 1px;
  border-bottom: 1px solid #FFFFFF !important;
  border-top: 1px solid #E7E7E7 !important;
  color: #555555 !important;
  margin: 10px 0 30px;
}

/* Badges */
.badge-green {
  background-color: #5cb85c;
}

.badge-orange {
  background-color: #f0ad4e;
}

.badge-red {
  background-color: #d9534f;
}

.badge-blue {
  background-color: #5bc0de;
}

/* Scroller */
.scroller {
  margin: 0 !important;
  padding: 0 12px 0 0 !important;
}

/* Content */
#main-content {
  margin-left: 250px;
}

/* Content */
#content {
  background-color: #f5f6f6;
  margin-top: 0;
  min-height: 800px;
  border-left: 1px solid #cdd2d2;
  padding-bottom: 30px;
  /* Page Header */
  /* Breadcrumbs */
}
#content .page-header {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom-color: #cdd2d2;
  color: #000000;
  margin: 0 -15px 30px;
  min-height: 85px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
}
#content .page-header .description {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  margin-bottom: 5px;
}
#content .content-title {
  color: #666666;
  display: block;
  font-family: 'Open Sans';
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 5px 0;
  padding: 0;
}
#content .breadcrumb {
  margin-bottom: 0;
  padding-right: 0px;
  padding-left: 0px;
  font-size: 14px;
  color: #333;
  background-color: #FFFFFF;
}
#content .breadcrumb a {
  text-shadow: none;
}
#content .breadcrumb > li + li:before {
  color: #333;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "\f105";
  font-weight: 300;
  text-shadow: none;
  padding: 0 5px;
}

.date-range {
  margin-top: 20px;
}
.date-range .btn-group .btn {
  margin-top: -8px;
  padding: 8px;
}
.date-range .reportrange {
  margin-right: 0px;
  margin-top: -8px;
  padding: 10px;
  cursor: pointer;
  min-width: 275x;
  color: #fff;
  border-radius: 0 4px 4px 0;
  background-color: #5cb85c;
}
.date-range .reportrange span {
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  font-weight: normal;
}
.date-range .reportrange .fa-calendar {
  text-transform: normal;
  color: #fff;
  margin-top: 0px;
  font-size: 14px;
}
.date-range .reportrange .fa-angle-down {
  color: #fff;
  font-size: 16px;
}

/* Patterns */
.pattern {
  background-image: url("../img/pattern.png");
}

.dots {
  background-image: url("../img/dots.png");
}

/*-----------------------------------------------------------------------------------*/
/*	Grids and Box
/*-----------------------------------------------------------------------------------*/
.box {
  clear: both;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 0px;
}
.box .box-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #c4c4c4;
  min-height: 30px;
}
.box .box-title h4 {
  font-family: 'Open Sans';
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  color: #555555;
}
.box .box-title h4 i {
  margin-right: 10px;
  color: #666;
}
.box .box-title .tools {
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
  float: right;
  clear: both;
  min-height: 30px;
}
.box .box-title .tools > a {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #c4c4c4;
  margin-right: 5px;
}
.box .box-title .tools > a :hover {
  color: #ababab;
}
.box .box-title .tools .label {
  margin-right: 5px;
}
.box .box-title .items {
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
  margin-top: 7px;
  float: right;
  width: 40%;
  clear: both;
}
.box .box-title .items .progress {
  height: 7px !important;
}
.box .toolbox {
  padding: 5px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #c4c4c4;
}
.box .toolbox.bottom {
  padding: 5px;
  background-color: #f4f4f4;
  border-top: 1px solid #c4c4c4;
  border-radius: 0 0 4px 4px;
  border-bottom: none;
}
.box .box-body.bg {
  border-radius: 0 0 4px 4px;
  padding: 10px;
  background-color: #FFFFFF;
  border-left: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  margin-top: -15px;
}

/* Sortable */
.box-placeholder {
  border: 1px dashed #c4c4c4;
  background-color: #eaeaea;
  border-radius: 4px;
}

/* Colors */
.box.border.orange {
  border: 1px solid #eea236;
}
.box.border.orange > .box-title {
  color: #FFFFFF !important;
  background-color: #f0ad4e;
  border-bottom: 1px solid #eea236;
}
.box.border.orange > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.orange > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.orange > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.orange > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.pink {
  border: 1px solid #d6497d;
}
.box.border.pink > .box-title {
  color: #FFFFFF !important;
  background-color: #db5e8c;
  border-bottom: 1px solid #d6497d;
}
.box.border.pink > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.pink > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.pink > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.pink > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.purple {
  border: 1px solid #9785c6;
}
.box.border.purple > .box-title {
  color: #FFFFFF !important;
  background-color: #a696ce;
  border-bottom: 1px solid #9785c6;
}
.box.border.purple > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.purple > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.purple > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.purple > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.inverse {
  border: 1px solid #484848;
}
.box.border.inverse > .box-title {
  color: #FFFFFF !important;
  background-color: #555555;
  border-bottom: 1px solid #484848;
}
.box.border.inverse > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.inverse > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.inverse > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.inverse > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.blue {
  border: 1px solid #46b8da;
}
.box.border.blue > .box-title {
  color: #FFFFFF !important;
  background-color: #5bc0de;
  border-bottom: 1px solid #46b8da;
}
.box.border.blue > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.blue > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.blue > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.blue > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.red {
  border: 1px solid #d43f3a;
}
.box.border.red > .box-title {
  color: #FFFFFF !important;
  background-color: #d9534f;
  border-bottom: 1px solid #d43f3a;
}
.box.border.red > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.red > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.red > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.red > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.green {
  border: 1px solid #4cae4c;
}
.box.border.green > .box-title {
  color: #FFFFFF !important;
  background-color: #5cb85c;
  border-bottom: 1px solid #4cae4c;
}
.box.border.green > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.green > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.green > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.green > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

.box.border.primary {
  border: 1px solid #357ebd;
}
.box.border.primary > .box-title {
  color: #FFFFFF !important;
  background-color: #428bca;
  border-bottom: 1px solid #357ebd;
}
.box.border.primary > .box-title h4 {
  color: #FFFFFF !important;
}
.box.border.primary > .box-title h4 i {
  color: #FFFFFF !important;
}
.box.border.primary > .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.border.primary > .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}

/* Box border */
.box.border, .box.solid {
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}
.box.border > .box-title, .box.solid > .box-title {
  padding: 8px 10px 2px;
  border-bottom: 1px solid #c4c4c4;
  min-height: 30px;
  background-color: #dbdbdb;
  /* border-radius: 4px 4px 0 0; */
  margin-bottom: 0;
}
.box.border > .box-title h4, .box.solid > .box-title h4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
}
.box.border > .box-title h4 i, .box.solid > .box-title h4 i {
  margin-right: 10px;
  color: #666;
}
.box.border > .box-title .tools, .box.solid > .box-title .tools {
  display: inline-block;
  padding: 0;
  margin-bottom: 7px;
  float: right;
  clear: both;
  min-height: 30px;
}
.box.border > .box-title .tools > a, .box.solid > .box-title .tools > a {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #ababab;
  margin-right: 5px;
}
.box.border > .box-title .tools > a :hover, .box.solid > .box-title .tools > a :hover {
  color: #919191;
}
.box.border .box-body, .box.solid .box-body {
  border-radius: 0 0 4px 4px;
  padding: 10px;
  background-color: #FFFFFF;
}
.box.border .box-body.big, .box.solid .box-body.big {
  padding: 30px;
}
.box.border .box-title.big, .box.solid .box-title.big {
  padding: 15px 10px 7px;
}
.box.border .box-title.small, .box.solid .box-title.small {
  padding: 5px 10px 3px;
}
.box.border .box-title.small h4, .box.solid .box-title.small h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 3px;
}
.box.border .box-title.small .tools > a, .box.solid .box-title.small .tools > a {
  font-size: 12px;
  line-height: 12px;
}

.box.border.lite .box-title {
  background-color: #f4f4f4;
}
.box.border.lite .box-title h4 {
  color: #6e6e6e;
}

.box.solid.blue {
  border: 1px solid #507aa4;
}
.box.solid.blue .box-title {
  color: #FFFFFF !important;
  background-color: #5e87b0 !important;
  border-bottom: 1px solid #507aa4;
}
.box.solid.blue .box-title h4 {
  color: #FFFFFF !important;
}
.box.solid.blue .box-title h4 i {
  color: #FFFFFF !important;
}
.box.solid.blue .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.solid.blue .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}
.box.solid.blue .box-body {
  color: #FFFFFF;
  background-color: #5e87b0 !important;
}

.box.solid.grey {
  border: 1px solid #626262;
}
.box.solid.grey .box-title {
  color: #FFFFFF !important;
  background-color: #6e6e6e !important;
  border-bottom: 1px solid #626262;
}
.box.solid.grey .box-title h4 {
  color: #FFFFFF !important;
}
.box.solid.grey .box-title h4 i {
  color: #FFFFFF !important;
}
.box.solid.grey .box-title .tools > a {
  color: #f4f4f4 !important;
}
.box.solid.grey .box-title .tools > a :hover {
  color: #f4f4f4 !important;
  opacity: 0.6 !important;
}
.box.solid.grey .box-body {
  color: #FFFFFF;
  background-color: #6e6e6e !important;
}

.box:after, .box:before {
  display: table;
  color: "";
}

/* Misc */
.list-group-header {
  background-color: #F9F9F9;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  color: #6e6e6e;
}

/*-----------------------------------------------------------------------------------*/
/*	Elements
/*-----------------------------------------------------------------------------------*/
.example-modal .modal {
  bottom: auto;
  display: inline;
  margin: 0 auto;
  left: auto;
  position: relative;
  right: auto;
  top: auto;
  z-index: 1;
  width: 100%;
}
.example-modal .modal .modal-dialog {
  width: 100%;
}

.center {
  text-align: center;
}

#themes .title {
  margin-right: 8px;
}
#themes .btn.active .tick:before {
  float: left;
  margin-top: 0px;
  margin-right: 5px;
  display: inline;
  font-size: 13px;
  font-family: FontAwesome;
  height: auto;
  content: "\f00c";
  font-weight: 300;
  text-shadow: none;
}

#messenger .btn i {
  font-size: 18px;
}

div.hint {
  background-color: #F8F8F8;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  height: 27px;
  text-align: center;
  width: 135px;
  vertical-align: middle;
  margin-top: 5px;
  font-weight: 600;
}

/* Labels and Arrows */
.label.arrow-out, .label.arrow-in {
  border-radius: 0 !important;
  position: relative;
  z-index: 1;
}

.label.arrow-out:before, .label.arrow-in:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) #abbac3 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-image: none;
  border-style: solid;
  border-width: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.label.arrow-in:before {
  border-bottom-color: #ABBAC3;
  border-left-color: rgba(0, 0, 0, 0) !important;
  border-right-color: #ABBAC3;
  border-top-color: #ABBAC3;
}

.label.arrow-out-right, .label.arrow-in-right {
  position: relative;
  z-index: 1;
}

.label.arrow-out-right:after, .label.arrow-in-right:after {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #abbac3;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  z-index: -1;
}

.label.arrow-in-right:after {
  border-bottom-color: #ABBAC3;
  border-left-color: #ABBAC3;
  border-right-color: rgba(0, 0, 0, 0) !important;
  border-top-color: #ABBAC3;
}

.label-info.arrow-out:before {
  border-right-color: #5bc0de;
}

.label-info.arrow-in:before {
  border-color: #5bc0de;
}

.label-info.arrow-out-right:after {
  border-left-color: #5bc0de;
}

.label-info.arrow-in-right:after {
  border-color: #5bc0de;
}

.label-primary.arrow-out:before {
  border-right-color: #428bca;
}

.label-primary.arrow-in:before {
  border-color: #428bca;
}

.label-primary.arrow-out-right:after {
  border-left-color: #428bca;
}

.label-primary.arrow-in-right:after {
  border-color: #428bca;
}

.label-success.arrow-out:before {
  border-right-color: #5cb85c;
}

.label-success.arrow-in:before {
  border-color: #5cb85c;
}

.label-success.arrow-out-right:after {
  border-left-color: #5cb85c;
}

.label-success.arrow-in-right:after {
  border-color: #5cb85c;
}

.label-warning.arrow-out:before {
  border-right-color: #f0ad4e;
}

.label-warning.arrow-in:before {
  border-color: #f0ad4e;
}

.label-warning.arrow-out-right:after {
  border-left-color: #f0ad4e;
}

.label-warning.arrow-in-right:after {
  border-color: #f0ad4e;
}

.label-danger.arrow-out:before {
  border-right-color: #d9534f;
}

.label-danger.arrow-in:before {
  border-color: #d9534f;
}

.label-danger.arrow-out-right:after {
  border-left-color: #d9534f;
}

.label-danger.arrow-in-right:after {
  border-color: #d9534f;
}

.label-inverse.arrow-out:before {
  border-right-color: #555555;
}

.label-inverse.arrow-in:before {
  border-color: #555555;
}

.label-inverse.arrow-out-right:after {
  border-left-color: #555555;
}

.label-inverse.arrow-in-right:after {
  border-color: #555555;
}

.label {
  height: 20px;
  line-height: 1.15;
}

.label.arrow-out {
  margin-left: 5px;
}

.label.arrow-out:before {
  border-width: 9px 5px 10px;
  left: -10px;
}

.label.arrow-in {
  margin-left: 5px;
}

.label.arrow-in:before {
  border-width: 9px 5px 10px;
  left: -5px;
}

.label.arrow-out-right {
  margin-right: 5px;
}

.label.arrow-out-right:after {
  border-width: 9px 5px 10px;
  right: -10px;
}

.label.arrow-in-right {
  margin-right: 5px;
}

.label.arrow-in-right:after {
  border-width: 9px 5px 10px;
  right: -5px;
}

.label > span, .label > [class*="fa-"] {
  line-height: 1;
}

.ui-slider {
  margin-bottom: 8px;
  margin-top: 10px;
}

.slider-eq > span {
  float: left;
  height: 125px;
  margin: 15px;
}

/* Sliers & Progress bar */
.slider {
  background: none repeat scroll 0 0 #E4E6EB !important;
  border: 0 none !important;
  border-radius: 50em 50em 50em 50em !important;
  position: relative;
  z-index: 10;
}

.ui-slider-horizontal {
  height: 0.7em !important;
}

.ui-slider-vertical {
  width: 0.7em !important;
}

.progress {
  background: none repeat scroll 0 0 #E4E6EB !important;
  border: 0 none !important;
  border-radius: 50em 50em 50em 50em !important;
  box-shadow: none;
  height: 14px !important;
  margin-top: -2px;
  position: relative;
}
.progress.progress-sm {
  height: 9px !important;
}
.progress.progress-lg {
  height: 17px !important;
}

.progress .ui-progressbar {
  border-radius: 50em 50em 50em 50em !important;
}

.progress .ui-progressbar-value {
  border: 0 none;
  border-radius: 50em 50em 50em 50em;
  box-shadow: none;
  height: 100%;
  left: 1px;
  position: absolute;
  top: 1px;
}

/* Animated progress */
.pbar .ui-progressbar-value {
  display: block !important;
}

.pbar.progress {
  overflow: hidden;
  margin-bottom: 5px;
  margin-top: 3px;
}

.percent {
  position: relative;
  text-align: right;
}

.elapsed {
  position: relative;
  text-align: right;
}

/* Slider & Progressbar colors */
.slider-blue .ui-slider-range, .progress-blue .ui-progressbar-value {
  background: none repeat scroll 0 0 #5bc0de;
}

.slider-green .ui-slider-range, .progress-green .ui-progressbar-value {
  background: none repeat scroll 0 0 #5cb85c;
}

.slider-pink .ui-slider-range, .progress-pink .ui-progressbar-value {
  background: none repeat scroll 0 0 #db5e8c;
}

.slider-orange .ui-slider-range, .progress-orange .ui-progressbar-value {
  background: none repeat scroll 0 0 #f0ad4e;
}

.slider-red .ui-slider-range, .progress-red .ui-progressbar-value {
  background: none repeat scroll 0 0 #d9534f;
}

.slider-yellow .ui-slider-range, .progress-yellow .ui-progressbar-value {
  background: none repeat scroll 0 0 #fcd76a;
}

.slider-dark .ui-slider-range, .progress-dark .ui-progressbar-value {
  background: none repeat scroll 0 0 #555555;
}

/* Progress bar colors */
.progress-bar-yellow {
  background-color: #fcd76a;
}

.progress-bar-pink {
  background-color: #db5e8c;
}

.progress-bar-dark {
  background-color: #555555;
}

/* Tabs and Accordions */
.box .header-tabs .nav-tabs {
  border-bottom: 0 none;
  margin-right: 0;
  overflow: hidden;
  position: relative;
  top: -43px;
}
.box .header-tabs .nav-tabs > li {
  float: right;
  margin-left: 1px;
}
.box .header-tabs .nav-tabs > li > a {
  position: relative;
  background: #eee;
  /* background-image: linear-gradient(to bottom, #fff, #ddd);  */
  padding: 7px 15px;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  margin-right: 15px;
  border-top: 1px solid #d0d0d0;
}
.box .header-tabs .nav-tabs > li > a i {
  margin-right: 5px;
}
.box .header-tabs .nav-tabs > li > a:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1px;
  right: -.5em;
  bottom: 0;
  width: 1em;
  background: #eee;
  /* background-image: linear-gradient(to bottom, #fff, #ddd);  */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  border-top: 1px solid #d0d0d0;
  transform: skew(10deg);
  -webkit-transform: skew(10deg);
  border-radius: 0 5px 0 0;
}
.box .header-tabs .nav-tabs > li > a:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -1px;
  left: -10px;
  bottom: 0;
  width: 1em;
  background: #eee;
  /* background-image: linear-gradient(to bottom, #fff, #ddd);  */
  border-left: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  transform: skew(170deg);
  -webkit-transform: skew(170deg);
  border-radius: 5px 0 0 0;
}
.box .header-tabs .nav-tabs > li.active a, .box .header-tabs .nav-tabs > li.active a:after, .box .header-tabs .nav-tabs > li.active a:before {
  background: #fff;
  z-index: 3;
}

/* Header Tabs content */
.box .header-tabs .tab-content {
  margin-top: -30px;
}

/* Left, Right, Below tabs - removed from Bootstrap 3 */
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}

/* Accordions */
.panel-group .panel-heading .accordion-toggle {
  display: block;
  text-decoration: none;
  font-size: 14px;
}

/* Tree */
.tree {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 9px;
  position: relative;
}

.tree:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #67B2DD;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 16px;
  content: "";
  display: inline-block;
  left: 0;
  position: absolute;
  top: -20px;
  z-index: 1;
}

.tree .tree-folder {
  cursor: pointer;
  min-height: 20px;
  width: auto;
}

.tree .tree-folder .tree-folder-header {
  height: 100%;
  line-height: 20px;
  position: relative;
}

.tree .tree-folder .tree-folder-header:hover {
  background-color: #f3f3f3;
}

.tree .tree-folder .tree-folder-header .tree-folder-name, .tree .tree-item .tree-item-name {
  display: inline;
  z-index: 2;
}

.tree .tree-folder .tree-folder-header > [class*="fa-"]:first-child, .tree .tree-item > [class*="fa-"]:first-child {
  display: inline-block;
  position: relative;
  top: -1px;
  z-index: 2;
}

.tree .tree-folder .tree-folder-header .tree-folder-name {
  margin-left: 2px;
}

.tree .tree-folder .tree-folder-header > [class*="fa-"]:first-child {
  margin: -2px 0 0 -2px;
}

.tree .tree-folder:last-child:after {
  border-left: 1px solid #FFFFFF;
  bottom: 0;
  content: "";
  display: inline-block;
  left: -15px;
  position: absolute;
  top: 15px;
  z-index: 1;
}

.tree .tree-folder .tree-folder-content {
  margin-left: 23px;
  position: relative;
}

.tree .tree-folder .tree-folder-content:before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #67B2DD;
  border-image: none;
  border-style: dotted;
  border-width: 0 0 0 1px;
  bottom: 16px;
  content: "";
  display: inline-block;
  left: -14px;
  position: absolute;
  top: -14px;
  z-index: 1;
}

.tree .tree-item {
  cursor: pointer;
  height: 100%;
  line-height: 20px;
  position: relative;
}

.tree .tree-item:hover {
  background-color: #f3f3f3;
}

.tree .tree-item .tree-item-name {
  margin-left: 3px;
}

.tree .tree-item .tree-item-name > [class*="fa-"]:first-child {
  margin-right: 3px;
}

.tree .tree-item > [class*="fa-"]:first-child {
  margin-top: -1px;
}

.tree .tree-folder, .tree .tree-item {
  position: relative;
}

.tree .tree-folder:before, .tree .tree-item:before {
  border-top: 1px dotted #67B2DD;
  content: "";
  display: inline-block;
  height: 0;
  left: -13px;
  position: absolute;
  top: 14px;
  width: 18px;
  z-index: 1;
}

.tree .tree-selected {
  background-color: rgba(98, 168, 209, 0.1);
  color: #6398B0;
}

.tree .tree-selected:hover {
  background-color: rgba(98, 168, 209, 0.1);
}

.tree .tree-item, .tree .tree-folder {
  border: 1px solid #FFFFFF;
}

.tree .tree-folder .tree-folder-header {
  border-radius: 0 0 0 0;
}

.tree .tree-item, .tree .tree-folder .tree-folder-header {
  -moz-box-sizing: content-box;
  margin: 0;
  padding: 5px;
}

.tree .tree-item > [class*="fa-"]:first-child {
  -moz-box-sizing: content-box;
  background-color: #FAFAFA;
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #e6e6e6;
  font-size: 11px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  width: 13px;
}

.tree .tree-selected > [class*="fa-"]:first-child {
  background-color: #5cb85c;
  border-color: #5cb85c;
  color: #FFFFFF;
}

.tree .icon-plus[class*="fa-"]:first-child, .tree .icon-minus[class*="fa-"]:first-child {
  -moz-box-sizing: content-box;
  background-color: #FFFFFF;
  border: 1px solid #8BAEBF;
  height: 11px;
  line-height: 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 11px;
  z-index: 1;
}

.tree .icon-plus[class*="fa-"]:first-child:before {
  content: "+";
  display: block;
  font-family: "Open Sans";
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.tree .icon-minus[class*="fa-"]:first-child:before {
  border-top: 1px solid #4D6878;
  content: "";
  display: block;
  height: 0;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 7px;
}

.tree .tree-unselectable .tree-item > [class*="fa-"]:first-child {
  background-color: rgba(0, 0, 0, 0);
  border: 0 none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  color: #5084A0;
  font-size: 10px;
  height: 13px;
  line-height: 13px;
  text-align: center;
  width: 13px;
}

.tree [class*="fa-"][class*="-down"] {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.tree .fa-spin {
  height: auto;
}

.tree .tree-loading {
  margin-left: 36px;
}

.tree img {
  display: inline;
}

/* Nestable lists */
.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  max-width: 600px;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.dd-handle {
  display: block;
  cursor: move;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background: linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-handle:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: 600;
}

.dd-item > button:before {
  content: '+';
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  text-indent: 0;
}

.dd-item > button[data-action="collapse"]:before {
  content: '-';
}

.dd-placeholder,
.dd-empty {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #f2fbff;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-empty {
  border: 1px dashed #bbb;
  min-height: 100px;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -webkit-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white), -moz-linear-gradient(45deg, white 25%, transparent 25%, transparent 75%, white 75%, white);
  background-image: linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0;
}

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}

/**
 * Nestable Extras
 */
.nestable-lists {
  display: block;
  clear: both;
  padding: 30px 0;
  width: 100%;
  border: 0;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}

#nestable-menu {
  padding: 0;
  margin: 20px 0;
}

#nestable-output,
#nestable2-output {
  width: 100%;
  height: 7em;
  font-size: 0.75em;
  line-height: 1.333333em;
  font-family: Consolas, monospace;
  padding: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
  color: #fff;
  border: 1px solid #999;
  background: #bbb;
  background: -webkit-linear-gradient(top, #bbbbbb 0%, #999999 100%);
  background: -moz-linear-gradient(top, #bbbbbb 0%, #999999 100%);
  background: linear-gradient(top, #bbbbbb 0%, #999999 100%);
}

#nestable2 .dd-handle:hover {
  background: #bbb;
}

#nestable2 .dd-item > button:before {
  color: #fff;
}

@media only screen and (min-width: 700px) {
  .dd {
    float: left;
    width: 48%;
  }

  .dd + .dd {
    margin-left: 2%;
  }
}
.dd-hover > .dd-handle {
  background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */
.dd3-content {
  display: block;
  height: 30px;
  margin: 5px 0;
  padding: 5px 10px 5px 40px;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #ccc;
  background: #fafafa;
  background: -webkit-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  background: linear-gradient(top, #fafafa 0%, #eeeeee 100%);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd3-content:hover {
  color: #2ea8e5;
  background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
  margin: 0;
}

.dd3-item > button {
  margin-left: 30px;
}

.dd3-handle {
  position: absolute;
  margin: 0;
  cursor: move;
  left: 0;
  top: 0;
  width: 30px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #aaa;
  background: #ddd;
  background: -webkit-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.dd3-handle:before {
  content: '≡';
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 100%;
  text-align: center;
  text-indent: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.dd3-handle:hover {
  background: #ddd;
}

/* Tables inside Modals */
.modal-table .modal-body {
  padding: 0;
}
.modal-table .modal-footer {
  border-top: none;
  margin-top: 0;
}

/* Forms */
.form-title {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.field-icon {
  display: block;
  font-size: 14px;
  line-height: 1;
  position: absolute;
  right: 25px;
  top: 9px;
}

.textarea-transition {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.radio > div.radio, .radio-inline > div.radio, .checkbox > div.checker, .checkbox-inline > div.checker {
  margin-left: -20px;
  padding-top: 0;
}

/* BT WYSIWYG */
#editor {
  margin-top: 10px;
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid #cccccc;
  padding: 10px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2, 2);
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}

/* Charts */
.chart, .pie, .bars {
  height: 300px;
  overflow: hidden;
}

.demo-container {
  height: 300px;
  border: 1px solid #ddd;
}

.demo-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.legend table {
  border-spacing: 5px;
}

/* Xcharts */
.xchart .errorLine path {
  stroke: #C6080D;
  stroke-width: 3px;
}

.ex-tooltip {
  background: none repeat scroll 0 0 #EEEEEE;
  border-collapse: separate;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 3px #000000;
  display: none;
  padding: 5px;
  position: absolute;
}

/* Easy pie chart */
.piechart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  text-align: center;
}
.piechart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.piechart .percent {
  font-size: 1.2em;
  font-weight: 600;
  display: inline-block;
  line-height: 110px;
  z-index: 2;
}

/* Sparkline */
.sparkline-row {
  margin-bottom: 30px;
  position: relative;
}
.sparkline-row .big {
  height: 30px;
  width: 83px;
}
.sparkline-row .title {
  display: block;
  font-size: 12px;
}
.sparkline-row .value {
  font-size: 17px;
  font-weight: 600;
}
.sparkline-row .sparkline, .sparkline-row .sparklinepie, .sparkline-row .linechart {
  position: absolute;
  right: 0;
  top: 0;
}
.sparkline-row .sparklinepie {
  position: absolute;
  right: 0;
  top: 0;
}

.sparkline-stats {
  position: relative;
}
.sparkline-stats ul {
  list-style: none outside none;
  margin: 0 0 0 -40px;
}
.sparkline-stats ul li {
  font-size: 12px;
  line-height: 32px;
  margin-bottom: 5px;
  padding-top: 3px;
}
.sparkline-stats ul li div {
  float: left;
}
.sparkline-stats ul li div:first-child {
  margin-right: 5px;
}
.sparkline-stats ul li .number {
  color: #FA603D;
  font-size: 17px;
  font-weight: 700;
  padding: 0 0 0 2px;
}

/* Google Maps */
.gmaps {
  height: 300px;
  width: 100%;
}

/* Full calendar */
#external-events {
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 20px;
}

#external-events h4 {
  font-size: 16px;
  margin-top: 0;
  padding-top: 1em;
}

.external-event {
  /* try to mimick the look of a real event */
  margin: 10px 0;
  padding: 2px 4px;
  background: #428bca;
  color: #fff;
  cursor: move;
  font-size: 0.83em;
  border-radius: 4px;
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

/* Vector Maps */
.vmaps {
  height: 300px;
  overflow: hidden;
  position: relative;
}

/* Isotope filtering */
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.filter-content {
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}
.filter-content .hover-content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #FFFFFF;
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  display: none;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-delay: 0s;
}
.filter-content .hover-content h4 {
  margin-top: 20%;
}
.filter-content .hover-content a.hover-link {
  margin: 0 5px;
  vertical-align: middle;
}
.filter-content .hover-content a.hover-link i {
  color: #FFFFFF;
}

/* Login Screen */
.login {
  background: url("../img/light_noise_diagonal.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  height: 100%;
  min-height: 100%;
}
.login #logo {
  margin-top: 30px;
  text-align: center;
}

.login-box {
  background: url("../img/lockscreen.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  margin: 50px auto;
  padding: 55px 60px 60px;
  position: relative;
  min-height: 300px;
}
.login-box input, .login-box textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 15px;
  margin: 0;
  padding: 10px 8px 8px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  min-width: 0;
  padding-left: 33px !important;
}
.login-box button {
  width: 100%;
}

.login-box-plain {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 7px 7px 7px 7px;
  box-shadow: 0 1px 4px #D3D3D3;
  margin: 50px auto;
  padding: 55px 60px 60px;
  position: relative;
  min-height: 300px;
}
.login-box-plain input, .login-box-plain textarea {
  background: none repeat scroll 0 0 #FFFFFF;
  font-size: 15px;
  margin: 0;
  padding: 10px 8px 8px;
  width: 100%;
  border-radius: 6px;
  box-shadow: none;
  min-width: 0;
  padding-left: 33px !important;
}
.login-box-plain button {
  width: 100%;
}

.login-box form i, .login-box-plain form i {
  color: #CCCCCC;
  display: block !important;
  font-size: 16px;
  height: 16px;
  margin: 9px 2px 4px 10px;
  position: absolute !important;
  text-align: center;
  width: 16px;
  z-index: 1;
}

.login-box .social-login a, .login-box-plain .social-login a {
  border: 0 none;
  border-radius: 100% 100% 100% 100%;
  height: 42px;
  line-height: 42px;
  margin: 0 5px;
  padding: 0;
  width: 42px;
  text-decoration: none !important;
}

.login-helpers {
  margin-top: 20px;
  font-size: 12px;
}

.form-control:focus {
  border-color: #CCCCCC;
  box-shadow: none !important;
}

.bigintro {
  font-size: 38px;
  line-height: 50px;
  text-align: center;
}

.logo a {
  transition: all 0.4s ease-in-out 0s;
}
.logo a:hover {
  opacity: 0.7;
}
.logo img {
  max-height: 50px;
}

.visible {
  display: block !important;
}

#login, #register, #forgot {
  display: none;
}

#login_bg, #register_bg, #forgot_bg {
  display: none;
}
#login_bg a, #register_bg a, #forgot_bg a {
  color: #FFFFFF;
  text-decoration: underline;
}
#login_bg a:hover, #register_bg a:hover, #forgot_bg a:hover {
  text-decoration: none;
}

/* Chat */
.chat-form {
  background-color: #e7e7e7;
  clear: both;
  overflow: hidden;
  padding: 10px;
  border-radius: 4px;
}

.chat-pop {
  background-color: #f4f4f4;
  padding: 8px;
  border-radius: 4px;
  position: relative;
  width: 70%;
}
.chat-pop .media-heading {
  font-weight: 400;
}
.chat-pop.mod {
  background-color: #dbdbdb;
  text-align: right;
}
.chat-pop h4 abbr {
  font-size: 11px;
  text-transform: uppercase;
}
.chat-pop h4 i {
  font-size: 13px;
}

.chat-list img {
  border-radius: 99px;
}

/* Chat widget */
.chat-widget {
  bottom: 0;
  position: fixed;
  right: 20px;
  width: 400px;
  z-index: 999;
}
.chat-widget .box {
  margin-bottom: 0px;
}

/* Address Book */
#contact-card .panel-title {
  font-size: 30px;
  color: #555555;
}
#contact-card .panel-body .headshot img {
  border-radius: 4px;
}

/* Pricing */
/*Pricing table and price blocks*/
.pricing_table {
  line-height: 150%;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}
.pricing_table .footer {
  padding: 15px;
  background: #dbdbdb;
  border-radius: 0 0 4px 4px;
}

.price_block {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
  padding-left: 0px;
  /* padding-right: 0px; */
}

.price_block_static {
  text-align: center;
  color: #fff;
  float: left;
  list-style-type: none;
  transition: all 0.25s;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

/*Price heads*/
.pricing_table h3 {
  text-transform: uppercase;
  padding: 5px 0;
  background: #555555;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

/*Price tags*/
.price {
  display: table;
  background: #898989;
  width: 100%;
  height: 70px;
}

.price_figure {
  font-size: 24px;
  text-transform: uppercase;
  vertical-align: middle;
  display: table-cell;
}

.price_number {
  font-weight: 600;
  display: block;
}

.price_tenure {
  font-size: 11px;
}

/*Features*/
.features {
  background: #e6e6e6;
  color: #555555;
  padding: 0;
}

.features li {
  padding: 8px 15px;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
  list-style-type: none;
}

.price_block:hover {
  /* box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.5); */
  transform: scale(1.04) translateY(-5px);
  -webkit-transform: scale(1.04) translateY(-5px);
  z-index: 1;
  border-bottom: 0 none;
}

.price_block_static.active {
  -webkit-transform: scale(1.09) translateY(-5px);
  transform: scale(1.09) translateY(-5px);
  z-index: 1;
  border-bottom: 0 none;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.3);
}

.price_block:hover .price.orange {
  background: #f0ad4e;
}

.price_block:hover .price.green {
  background: #5cb85c;
}

.price_block_static.active .price {
  background: #d9534f;
}

.price_block:hover h3 {
  background: #3b3b3b;
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* .price_block:nth-child(odd) {border-right: 5px solid transparent;} */
  .price_block:nth-child(3) {
    clear: both;
  }

  .price_block:nth-child(odd):hover {
    border: 0 none;
  }
}
@media only screen and (min-width: 768px) {
  /* .price_block {border-right: 5px solid transparent; border-bottom: 0 none;} */
  .price_block:last-child {
    border-right: 0 none;
  }

  .price_block:hover {
    border: 0 none;
  }
}
.skeleton, .skeleton ul, .skeleton li, .skeleton div, .skeleton h3, .skeleton span, .skeleton p {
  border: 5px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 7px !important;
  background: rgba(0, 0, 0, 0.05) !important;
  padding: 0 !important;
  text-align: left !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  font-size: 10px !important;
  font-style: italic !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: black !important;
}

.skeleton .label {
  font-size: 11px !important;
  font-style: italic !important;
  text-transform: none !important;
  font-weight: normal !important;
  color: white !important;
  border: 0 none !important;
  padding: 5px !important;
  margin: 0 !important;
  float: none !important;
  text-align: left !important;
  text-shadow: 0 0 1px white;
  background: none !important;
}

.skeleton {
  display: none !important;
  margin: 100px !important;
  clear: both;
}

/* Invoice */
@media print {
  .invoice-header .btn-group {
    display: none;
  }

  .payment-info {
    display: table;
    float: none;
    padding: 5px;
    margin: 0px;
  }

  .seller {
    display: table;
    float: left;
    padding: 5px;
    margin: 0px;
  }

  .buyer {
    display: table;
    float: right;
    padding: 5px;
    margin: 0px;
  }

  .seller i,
  .buyer i,
  .payment-info i {
    display: none;
  }

  .seller address,
  .buyer address,
  .payment-info address {
    float: left;
    font-size: 14px;
    margin: 0px;
  }

  .invoice-btn-group {
    display: none !important;
  }

  .amount {
    margin: 0px !important;
    font-weight: 400;
    font-size: 20px;
    float: right;
  }

  .invoice-title {
    font-size: 15px !important;
  }

  .divide-100 {
    display: none;
  }

  hr {
    margin: 0px;
  }
}
.invoice-header {
  display: block;
  margin-bottom: 20px;
}
.invoice-header h3 {
  font-weight: 400;
  margin-top: 0;
}

.seller, .buyer, .payment-info {
  padding: 20px;
}
.seller i, .buyer i, .payment-info i {
  color: #999999;
  float: left;
  font-size: 20px;
}
.seller address, .buyer address, .payment-info address {
  float: left;
  font-size: 15px;
  margin-left: 20px;
}

.invoice-title {
  color: #428bca;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.amount {
  margin-right: 30px;
  color: #d9534f;
  font-weight: 600;
}

/* Orders */
.orders {
  padding: 0;
  opacity: 1;
  transition: opacity 0.2s linear 0s;
}
.orders .progress {
  margin-top: 10px;
}
.orders.no-opaque {
  opacity: 1;
}
.orders:hover {
  opacity: 1;
}
.orders ul {
  margin: 0;
}
.orders li {
  border-bottom: 1px solid #FFFFFF !important;
  border-top: 1px solid #E7E7E7 !important;
  background-color: #f4f4f4;
  padding: 5px 20px;
  cursor: pointer;
  position: relative;
}
.orders li:hover {
  background-color: white;
}
.orders li:first-child {
  border-bottom: 1px solid #FFFFFF !important;
  border-top: none !important;
  border-radius: 4px 4px 0 0;
}
.orders li:last-child {
  border-radius: 0 0 4px 4px;
}
.orders li .cost {
  font-weight: 600;
}
.orders li abbr, .orders li .fa-clock-o {
  color: #B3B3B3;
}

/* Search */
.search-results {
  margin: 20px 0;
}
.search-results h4 {
  margin-bottom: 2px;
}
.search-results h4 a {
  color: #428bca;
  text-decoration: underline;
}
.search-results .url {
  margin-top: 0px;
  color: #4cae4c;
  margin-bottom: 5px;
}
.search-results img {
  margin-right: 10px;
  border-radius: 2px;
}

/* 404 & 500 Errors*/
.not-found .error {
  color: #5cb85c;
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -10px;
  line-height: 128px;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  text-align: right;
  top: 35px;
  right: 50%;
}
.not-found .error-500 {
  color: #d9534f;
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -10px;
  line-height: 128px;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  text-align: right;
  top: 35px;
  right: 50%;
}
.not-found .content {
  display: inline-block;
  margin-left: 40px;
  padding-top: 0;
  text-align: left;
}
.not-found .content h3 {
  text-transform: uppercase;
}

#not-found-bg {
  background: url(../img/gallery/img/1.jpg) 0 0 no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
#not-found-bg .container {
  max-width: 1000px !important;
}
#not-found-bg .overlay {
  background: rgba(39, 62, 84, 0.82);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
}
#not-found-bg .error {
  color: #FFFFFF;
  font-size: 128px;
  font-weight: 600;
  letter-spacing: -10px;
  line-height: 128px;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  text-align: left;
  right: 0;
  margin-left: 0px;
}
#not-found-bg .content {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 0px;
  padding-top: 0;
  text-align: left;
}
#not-found-bg .content h3 {
  text-transform: uppercase;
}

/* FAQ */
#list-toggle .list-group i {
  margin-right: 10px;
  font-size: 15px;
}

/* USER PROFILE */
.user-profile.tabbable-custom > .tab-content {
  overflow: inherit;
}

.list-group-item.zero-padding {
  padding: 0;
}

.profile-details li i {
  color: #898989;
  cursor: pointer;
}

.profile-details li:hover i {
  color: #d9534f;
}

.user-profile .piechart {
  padding-bottom: 2px;
}
.user-profile .skill-name {
  text-transform: uppercase;
}

.feed-activity {
  border-bottom: 1px dotted #D0D8E0;
  border-left: 1px dotted #FFFFFF;
  border-right: 1px dotted #FFFFFF;
  padding: 10px 4px;
  position: relative;
}
.feed-activity:hover {
  background-color: #F4F9FD;
}
.feed-activity .roundicon {
  border-radius: 100% 100% 100% 100%;
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  height: 38px;
  line-height: 38px;
  margin-left: 0;
  margin-right: 15px !important;
  text-align: center;
  text-shadow: none !important;
  width: 38px;
  padding: 0px;
}
.feed-activity .time {
  bottom: 8px;
  position: absolute;
  right: 12px;
}

.form-actions {
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 19px 20px 20px;
}

#pro_edit .subtitle {
  display: block;
  font-weight: 600;
  padding-bottom: 5px;
}

#pro_edit .title {
  margin-top: 18px;
}

.form-vertical .form-group .control-label {
  padding-bottom: 5px;
}

/* DASHBOARD */
.dashbox .panel-body:before, .dashbox .panel-body:after {
  clear: both;
  content: "";
  display: table;
  line-height: 0;
}

.dashbox .panel-body {
  padding: 0px;
}
.dashbox .panel-left {
  width: 30%;
  float: left;
  padding: 20px;
  border-radius: 4px 0 0 4px;
  color: #FFFFFF;
  text-align: center;
  background-color: #f4f4f4;
  border-right: 1px solid #DDDDDD;
}
.dashbox .panel-left.red i {
  color: #D9534F;
}
.dashbox .panel-left.blue i {
  color: #70AFC4;
}
.dashbox .panel-right {
  width: 70%;
  float: right;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 0 4px 4px 0;
  position: relative;
}
.dashbox .panel-right .number {
  font-size: 30px;
  font-weight: 400;
  color: #666666;
}
.dashbox .panel-right .title {
  text-transform: uppercase;
}
.dashbox .panel-right .label {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 11px;
}

ul.stats {
  -moz-box-sizing: border-box;
  display: table;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  width: 100%;
}

ul.stats:not(.no-dividers) li {
  border-right: 1px solid #D9D9D9;
}

ul.stats li {
  display: table-cell;
  padding: 15px;
}

ul.stats li:last-child {
  border-right: 0 none;
}

ul.stats li strong, ul.stats li small {
  display: block;
  padding: 5px 0;
  text-align: center;
}

ul.stats li strong {
  font-size: 25px;
  font-weight: bold;
}

ul.stats li small {
  color: #ADADAD;
  font-size: 11px;
}

/* Quick Pie charts Dashboards */
.quick-pie .title {
  color: #555555;
  display: block;
  font-size: 11px;
  font-weight: 400;
  margin-top: 5px;
  text-transform: uppercase;
}
.quick-pie .title:hover {
  text-decoration: none;
}

/* FOOTER GOTO TOP */
.footer-tools {
  display: inline-block;
  float: right;
}
.footer-tools .go-top {
  background-color: #c1c1c1;
  cursor: pointer;
  display: block;
  font-size: 14px;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: -2px;
  padding: 0 6px 2px;
  text-decoration: none;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer-tools .go-top i {
  color: #FFFFFF;
}
.footer-tools:hover {
  opacity: 0.7;
}

/* GALLERY */
#filter-controls {
  margin-bottom: 20px;
}

.width-100 {
  width: 100%;
}

/* EMAIL LAYOUTS */
#email-layouts li {
  margin-bottom: 10px;
  font-size: 14px;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* FONT AWESOME */
#font-awesome a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 5px;
  color: #555555;
}

/* GRITTER */
#gritter-notice-wrapper {
  right: 1px !important;
}

.gritter-close {
  left: auto !important;
  right: 3px !important;
}

.gritter-title {
  font-family: 'Open Sans';
  font-size: 18px;
  font-weight: 300;
}

/* WELL BOTTOM */
.well.well-bottom {
  border-radius: 0 0 4px 4px;
}
