.row .columns.one, .row .col.one {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.one, .row .col.one {
    float: left;
    width: 8.333333333333332%
  }
}

.row .columns.two, .row .col.two {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.two, .row .col.two {
    float: left;
    width: 16.666666666666664%
  }
}

.row .columns.three, .row .col.three {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.three, .row .col.three {
    float: left;
    width: 25%
  }
}

.row .columns.four, .row .col.four {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.four, .row .col.four {
    float: left;
    width: 33.33333333333333%
  }
}

.row .columns.five, .row .col.five {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.five, .row .col.five {
    float: left;
    width: 41.66666666666667%
  }
}

.row .columns.six, .row .col.six {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.six, .row .col.six {
    float: left;
    width: 50%
  }
}

.row .columns.seven, .row .col.seven {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.seven, .row .col.seven {
    float: left;
    width: 58.333333333333336%
  }
}

.row .columns.eight, .row .col.eight {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.eight, .row .col.eight {
    float: left;
    width: 66.66666666666666%
  }
}

.row .columns.nine, .row .col.nine {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.nine, .row .col.nine {
    float: left;
    width: 75%
  }
}

.row .columns.ten, .row .col.ten {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.ten, .row .col.ten {
    float: left;
    width: 83.33333333333334%
  }
}

.row .columns.eleven, .row .col.eleven {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.eleven, .row .col.eleven {
    float: left;
    width: 91.66666666666666%
  }
}

.row .columns.twelve, .row .col.twelve {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px
}

@media (min-width: 1200px) {
  .row .columns.twelve, .row .col.twelve {
    float: left;
    width: 100%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-one, .row .col.offset-by-one {
    margin-left: 8.333333333333332%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-two, .row .col.offset-by-two {
    margin-left: 16.666666666666664%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-three, .row .col.offset-by-three {
    margin-left: 25%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-four, .row .col.offset-by-four {
    margin-left: 33.33333333333333%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-five, .row .col.offset-by-five {
    margin-left: 41.66666666666667%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-six, .row .col.offset-by-six {
    margin-left: 50%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-seven, .row .col.offset-by-seven {
    margin-left: 58.333333333333336%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-eight, .row .col.offset-by-eight {
    margin-left: 66.66666666666666%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-nine, .row .col.offset-by-nine {
    margin-left: 75%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-ten, .row .col.offset-by-ten {
    margin-left: 83.33333333333334%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-eleven, .row .col.offset-by-eleven {
    margin-left: 91.66666666666666%
  }
}

@media (min-width: 1200px) {
  .row .columns.offset-by-twelve, .row .col.offset-by-twelve {
    margin-left: 100%
  }
}

.black {
  background: #000;
  color: #fff
}

.blue {
  background: #0072c6;
  color: #fff
}

.brown {
  background: #570000;
  color: #fff
}

.dark-blue {
  background: #43484d;
  color: #fff
}

.dark-grey {
  background: #333;
  color: #fff
}

.green {
  background: #008a17;
  color: #fff
}

.grey {
  background: #888;
  color: #fff
}

.light-green {
  background: #82ba00;
  color: #000
}

.light-grey {
  background: #f5f5f5;
  color: #000
}

.orange {
  background: #ef754a;
  color: #000
}

.pink {
  background: #dc4fad;
  color: #000
}

.purple {
  background: #8c0095;
  color: #fff
}

.red {
  background: #ac193d;
  color: #fff
}

.turqoise {
  background: #2abf9e;
  color: #000
}

.white {
  background: #fff;
  color: #000
}

.yellow {
  background: #f1c40f;
  color: #000
}

.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442
}

.alert-error hr {
  border-top-color: #e4b9c0
}

.alert-error .alert-link {
  color: #843534
}

form fieldset legend {
  clear: 0;
  padding: 20px 0 0
}

form label.checkboxes {
  font-weight: normal
}

form .form-group .select2-container {
  width: 100%
}

form .form-group #cancel_password_button {
  margin-top: 5px
}

form.navbar-form input[role="keyword"] {
  margin-top: 5px;
  padding: 8px 6px;
  width: 250px
}

form.navbar-form select[role="roles"] {
  min-width: 200px
}

@media (max-width: 768px) {
  form.navbar-form input[type="submit"] {
    margin-top: 4px
  }
}

form .has-error .error {
  color: #ac193d
}

form .ui-toggle-switch {
  padding: 6px 0
}

section.container.main {
  clear: both;
  margin-top: 40px
}

section.container.main .themes img {
  margin: 0 auto;
  display: block
}

.box {
  padding: 30px 20px 30px !important
}

.box.no-padding {
  margin-top: 0;
  padding: 0 !important
}

.box.small-padding {
  padding: 10px 15px !important
}

.box.list-group {
  margin: 0
}

.box.list-group a {
  border: none
}

.box.list-group a:not(:last-child) {
  border-bottom: 2px solid #f5f5f5
}

.box-padding {
  padding: 30px
}

.btn.btn-mini {
  font-size: 11px;
  padding: 3px 6px
}

.list-group .list-group-item {
  color: #000
}

.list-group .list-group-item.active {
  background: #000;
  border-color: #000;
  color: #fff
}

.list-group .list-group-item.active:hover {
  color: #f5f5f5
}

.main-header {
  background: #fff;
  margin-top: 20px;
  padding: 20px 0
}

.main-header .pull-right a.btn {
  margin-top: 20px
}

.navbar {
  background-color: #44484d
}

.navbar.navbar-inverse {
  background-color: #33373b
}

.navbar a.navbar-brand {
  border-right: #444 solid 1px;
  color: #fff;
  font-weight: 500;
  line-height: 1;
  padding-right: 15px
}

.navbar ul.nav > li > a {
  color: #888
}

.navbar ul.nav > li > a:hover {
  background: #000;
  color: #fff
}

.navbar ul.nav > li.active > a {
  color: #fff;
  background: #000
}

.navbar ul.nav > li.active > a:hover {
  color: #f5f5f5
}

.navbar ul.nav > li.dropdown.open a.dropdown-toggle {
  color: #fff;
  background: #000
}

.navbar ul.nav > li.dropdown.open ul.dropdown-menu > li a:hover, .navbar ul.nav > li.dropdown.open ul.dropdown-menu > li a:focus {
  background: #000;
  color: #fff
}

.panel.columns {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.panel.widget {
  margin: 5px;
  padding: 0 !important;
  background: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 #eeeff2;
  box-shadow: inset 0 0 0 #eeeff2
}

.panel.widget .panel-content {
  padding: 15px
}

.panel.widget .panel-heading {
  background-color: #eeeff2;
  border: none;
  color: #43484d;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase
}

.pull-center {
  text-align: center
}

.rounded {
  border-radius: 4px
}

.rounded-bottom {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.rounded-top {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}

.select2-container.col, .select2-container.columns {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.select2-container.select2-container-multi {
  min-width: 200px
}

.select2-container.select2-container-multi .select2-choices {
  min-width: 200px;
  height: 40px !important
}

.select2-container.select2-container-multi .select2-choices .select2-search-choice {
  line-height: 23px !important
}

.select2-container.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close {
  top: 8px !important
}

.select2-container.select2-container-multi .select2-choices .select2-search-field input {
  height: 40px !important;
  max-height: 40px;
  padding: 0 5px 5px
}

@media (min-width: 979px) {
  .table th.th-action, .table td.th-action, .table th.th-actions, .table td.th-actions {
    width: 100px
  }
}

.user-search {
  background: #eeeff2;
  margin-bottom: 5px;
  border: none;
  z-index: 999
}

.user-search .navbar-form .select2-container {
  margin-top: -2px
}

form label.ui-state-active {
  background: transparent
}

form .ui-slider .ui-slider-handle {
  z-index: 1
}

table.ui-datepicker-calendar td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default {
  display: block;
  padding: 0 !important;
  border: 0 none !important;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  font-weight: normal !important
}

#installation table.requirements div.alert {
  margin-top: 10px
}

#installation button.btn-block {
  padding: 8px
}